* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, hsl(61, 94%, 47%), #113355);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #f0f0f0;
}

h1::first-line {
    color: #d9f55e ;
}

p::first-letter {
    color: #043306;
    font-size: 30px;
    font-weight: bold;
}

.design-section {
    width: 60%;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(to top, #7b9ee4, #020220);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
}

input[type="number"] {
    background: #F8F9FA;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    font-size: 15px;
}

input[type="button"] {
    background: #d9f55e;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#txtlargura {
    background-color: #a1e15e;
    width: 105px;
}
#txtaltura {
    background-color: #a1e15e;
    width: 105px;
}


.button:hover {
    background-color: #043306;
    /* Nova cor de fundo no hover */
    color: #f0f0f0;
    /* Nova cor do texto no hover */
    transform: translateX(-2px);
    /* Move o botão para cima */
    /* box-shadow: rgba(0, 0, 0, 0.2); */
    /* Adiciona uma sombra para dar profundidade */
}

.res {
    padding: 20px;
    font-size: 28px;
   }

