* {
    box-sizing: border-box;
}

body {
    background: #9fb5cc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1::first-line {
    color: #73aca5 ;
}
h2::first-line {
    color: #e9a8db;
}

.design-section {
    width: 60%;
    border: 3px solid #5a4242;
    border-radius: 10px;
    padding: 20px;
    background-color: #543e91;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 20px;
}

input[type="button"] {
    background: #062341;
    border-radius: 40px;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
}

input[type="number"] {
    background: #e1e998;
    border-radius: 50px;
    border: 1px solid;
    padding: 5px;
    width: 50px;
}

input[type="text"] {
    background: #e1e998;
    border-radius: 50px;
    border: 1px solid;
    padding: 5px;
}

button {
    background: #e1e998;
    border-radius: 50px;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    width: 190px;
}

button:hover {
    background-color: #16e00fd2;
    /* Nova cor de fundo no hover */
    color: #d4e44b;

}

.btnRecomecar {
    display: none;
}

