* {
    /* margin: 0;
        padding: 0; */
    box-sizing: border-box;
}

body {
    background: #b4cca7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    color: #070a0c;
}

.design-section {
    width: 50%;
    border: 1px solid #0e0404;
    border-radius: 3px;
    padding: 20px;
    background: linear-gradient(to top, #98929e, #d0d88c);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .689);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


input[type="number"] {
    background: #F8F9FA;
    border-radius: 50px;
    border: 1px solid;
    padding: 15px;
    font-size: 17px;
    /* margin-top: 5px; */
}

input[type="text"] {
    background: #F8F9FA;
    border-radius: 50px;
    border: 1px solid;
    padding: 15px;
    font-size: 20px;
    width: 350px;
}

.button {
    background: #F8F9FA;
    border-radius: 50px;
    border: 1px solid;
    padding: 15px;
    cursor: pointer;
    width: 300px;
    margin-top: 15px;
}

.button:hover {
    background-color: #043306;
    /* Nova cor de fundo no hover */
    color: #f0f0f0;
    /* Nova cor do texto no hover */
    transform: translateY(-2px);
    /* Move o botão para cima */
    /* box-shadow: rgba(0, 0, 0, 0.2); */
    /* Adiciona uma sombra para dar profundidade */
}

#res {
    padding: 20px;
    font-size: 20px;
}