* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left, hsl(19, 94%, 47%), #000000);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #f0f0f0;
}

h1::first-line {
    color: #cee2e0 ;
}

.design-section {
    width: 80%;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    padding: 4px;
    background: linear-gradient(to top, #7622c4, #020220);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
}

input[type="number"] {
    background: #F8F9FA;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    font-size: 15px;
}

input[type="button"] {
    background: #d0ff00;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#txt {
    background-color: #fff9f1;
    width: 145px;
}

.button:hover {
    background-color: #e02f0fd2;
    /* Nova cor de fundo no hover */
    color: #d4e44b;

}

.res {
    padding: 20px;
    font-size: 23px;
   }

footer {
    margin-top: auto;
    font-size: 14px;
    padding: 11px;
    background-image: linear-gradient(to left, hsl(19, 78%, 70%), #000000);
    background-clip: text; 
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 12s linear infinite;
}
@keyframes gradientAnimation{
    0%{
        background-position: 200% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}